* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #39fcfc;
  height: 100%;
}
html .wrapper, body .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
html main, body main {
  flex: 1 0 auto;
}
html main .switcher, body main .switcher {
  position: relative;
  top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #81d081;
  width: 350px;
  height: 70px;
}
html main .switcher .arrow-block, body main .switcher .arrow-block {
  padding-left: 3px;
  opacity: 1;
  position: relative;
  height: 65px;
  width: 65px;
}
html main .switcher .arrow-block .arrow-top, body main .switcher .arrow-block .arrow-top {
  background: white;
  position: absolute;
  height: 5px;
  top: calc(50% - 2.5px);
  transform-origin: 0 0;
  transform: rotate(-35deg);
  width: 50px;
}
html main .switcher .arrow-block .arrow-bottom, body main .switcher .arrow-block .arrow-bottom {
  background: white;
  position: absolute;
  height: 5px;
  top: calc(50% - 2.5px);
  transform-origin: 0 0;
  transform: rotate(35deg);
  width: 50px;
}
html main .switcher .arrow-block[rel=common]:hover, body main .switcher .arrow-block[rel=common]:hover {
  cursor: pointer;
}
html main .switcher .arrow-block[rel=common]:hover .arrow-top, body main .switcher .arrow-block[rel=common]:hover .arrow-top {
  animation-name: top-arrow-animation;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-direction: alternate;
}
html main .switcher .arrow-block[rel=common]:hover .arrow-bottom, body main .switcher .arrow-block[rel=common]:hover .arrow-bottom {
  animation-name: bottom-arrow-animation;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-direction: alternate;
}
html main .switcher .arrow-block[rel=disabled], body main .switcher .arrow-block[rel=disabled] {
  animation-name: disable-arrow-block;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
html main .switcher .arrow-block[rel=disabled] .arrow-top, body main .switcher .arrow-block[rel=disabled] .arrow-top {
  animation-name: top-arrow-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
html main .switcher .arrow-block[rel=disabled] .arrow-bottom, body main .switcher .arrow-block[rel=disabled] .arrow-bottom {
  animation-name: bottom-arrow-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
html main .switcher .arrow-block[rel=enabled], body main .switcher .arrow-block[rel=enabled] {
  animation-name: enable-arrow-block;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
html main .switcher .arrow-block[rel=enabled] .arrow-top, body main .switcher .arrow-block[rel=enabled] .arrow-top {
  animation-name: open-top-arrow-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
html main .switcher .arrow-block[rel=enabled] .arrow-bottom, body main .switcher .arrow-block[rel=enabled] .arrow-bottom {
  animation-name: open-bottom-arrow-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
html main .switcher .arrow-block[rel=initial], body main .switcher .arrow-block[rel=initial] {
  opacity: 0.5;
}
html main .switcher .arrow-block[rel=initial] .arrow-top, body main .switcher .arrow-block[rel=initial] .arrow-top {
  transform: rotate(0deg);
}
html main .switcher .arrow-block[rel=initial] .arrow-bottom, body main .switcher .arrow-block[rel=initial] .arrow-bottom {
  transform: rotate(0deg);
}
html main .switcher .content-block, body main .switcher .content-block {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 65px;
}
html main .switcher .content-block span, body main .switcher .content-block span {
  color: white;
  position: relative;
  top: calc(50% - 12.5px);
  font-size: 25px;
}
html footer, body footer {
  flex: 0 0 auto;
}
html footer nav, body footer nav {
  display: flex;
  justify-content: space-between;
}
html footer nav a, body footer nav a {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes top-arrow-animation {
  from {
    transform: rotate(-35deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes bottom-arrow-animation {
  from {
    transform: rotate(35deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes disable-arrow-block {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes enable-arrow-block {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes open-top-arrow-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-35deg);
  }
}
@keyframes open-bottom-arrow-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(35deg);
  }
}

/*# sourceMappingURL=fourthAnimationStyle.css.map */
