.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container .my-slider {
  position: relative;
  text-align: center;
  margin: auto;
  width: 90%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .my-slider #left-arrow svg, .container .my-slider #right-arrow svg {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.container .my-slider .slider-content {
  width: 80%;
  display: flex;
  list-style-type: none;
  overflow: hidden;
}
.container .my-slider .slider-content .slider-item[rel=active] {
  position: absolute;
  left: calc(50% - 240px);
  top: calc(50% - 180px);
  transform: scale(1);
  z-index: 10;
}
.container .my-slider .slider-content .slider-item[rel=prev] {
  transform: scale(0.5);
  position: absolute;
  left: 2%;
}
.container .my-slider .slider-content .slider-item[rel=next] {
  transform: scale(0.5);
  position: absolute;
  left: 58%;
}
.container .my-slider .slider-content .slider-item {
  transform: scale(0.5);
  position: absolute;
  left: -4000%;
}
.container .my-slider #slider-indicators {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100%;
  width: 100%;
}
.container .my-slider #slider-indicators .slider-indicator {
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: black;
  opacity: 0.5;
}
.container .my-slider #slider-indicators .slider-indicator[rel=active] {
  opacity: 1;
}
.container .my-slider #slider-indicators .slider-indicator:hover {
  opacity: 0.8;
}
.container #tabs-area {
  position: relative;
  margin-top: 80px;
  width: 100%;
}
.container #tabs-area #tabs {
  display: flex;
}
.container #tabs-area #tabs .tab-button {
  width: 90px;
  height: 50px;
  border-radius: 100px 100px 100px 100px/100% 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.container #tabs-area #tabs .tab-button.active {
  color: white;
  background: #73a473;
}
.container #tabs-area .tab-content {
  display: none;
  background-color: #73a473;
  border-radius: 0 5px 5px 5px;
  position: absolute;
  top: 30px;
  padding: 50px 30px;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
}
.container #tabs-area .tab-content.active {
  display: flex;
  justify-content: center;
}
.container #tabs-area .tab-content.active p {
  margin-right: 25px;
  background: white;
}
.container #tabs-area .tab-content.active img {
  margin-top: 15px;
  max-width: 100%;
}
.container #accordion-area {
  position: relative;
  margin-top: 55%;
  margin-left: auto;
  margin-right: auto;
}
.container #accordion-area .menu-title {
  position: relative;
  background: lightcoral;
  display: flex;
  margin-top: 5px;
  margin-left: 15px;
  width: 320px;
  height: 70px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 60px 60px 60px 60px/80% 80%;
}
.container #accordion-area .menu-title span {
  margin: auto;
}
.container #accordion-area .menu-content {
  position: relative;
  left: 8px;
  display: flex;
  flex-direction: column;
  background: wheat;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  transition: all 0s;
  max-height: 0;
  overflow: hidden;
}
.container #accordion-area .menu-content a {
  margin-top: 5px;
  color: brown;
  text-decoration: none;
  font-size: 18px;
}
.container #modal-window-container {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.container #modal-window-container #show-button {
  margin: 0 auto;
  background: blue;
  color: white;
  width: 200px;
  height: 70px;
  font-size: 20px;
  border: 1px solid green;
  border-radius: 60px 60px 60px 60px/80% 80%;
  cursor: pointer;
}
.container #modal-window-container #modal-area {
  position: absolute;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.container #modal-window-container #modal-area #modal-window {
  position: relative;
  top: 15%;
  width: 40%;
  height: 60%;
  background: white;
  box-shadow: 0 5px 15px black;
}
.container #modal-window-container #modal-area #modal-window header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 8%;
  background: brown;
}
.container #modal-window-container #modal-area #modal-window header .title {
  position: relative;
  color: white;
  margin: 0 auto;
  font-size: 24px;
  top: calc(50% - 0.5em);
}
.container #modal-window-container #modal-area #modal-window header #close-button {
  width: 32px;
  height: 100%;
  text-align: center;
}
.container #modal-window-container #modal-area #modal-window header #close-button svg {
  position: relative;
  top: calc(50% - 15px);
  color: white;
  cursor: pointer;
  transition: color 0.4s;
}
.container #modal-window-container #modal-area #modal-window header #close-button svg:hover {
  color: gray;
}
.container #modal-window-container #modal-area #modal-window main {
  margin: 0 auto;
  position: relative;
  top: 15%;
  width: 80%;
  max-height: 80%;
  background: lightseagreen;
  border-radius: 3px;
  overflow-y: scroll;
}
.container #modal-window-container #modal-area #modal-window main h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.container #modal-window-container #modal-area #modal-window main h2 {
  color: firebrick;
  margin-top: 3px;
  margin-bottom: 3px;
}
.container #modal-window-container #modal-area #modal-window main img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.container #modal-window-container #modal-area[rel=active] {
  visibility: visible;
  opacity: 1;
  position: fixed;
}
.container #validation-form-area {
  position: relative;
  margin-top: 20px;
}
.container #validation-form-area form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #validation-form-area form h1 {
  color: red;
  font-size: 24px;
}
.container #validation-form-area form .marked-field {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.container #validation-form-area form .marked-field input {
  margin-top: 20px;
  border-radius: 30px;
  text-indent: 5px;
}
.container #validation-form-area form .marked-field input:invalid {
  width: 250px;
  height: 30px;
  font-size: 18px;
  border: 4px solid #7c0e0e;
  outline: none;
}
.container #validation-form-area form .marked-field input:valid {
  width: 250px;
  height: 30px;
  font-size: 18px;
  border: 4px solid #1db61d;
  outline: none;
}
.container #validation-form-area form .marked-field input:invalid ~ .error-message {
  color: red;
}
.container #validation-form-area form .marked-field input:valid ~ .error-message {
  display: none;
}
.container #validation-form-area button {
  width: 250px;
  height: 35px;
  margin-top: 20px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  outline: none;
}
.container #validation-form-area form:valid button {
  cursor: pointer;
  background: darkgreen;
  pointer-events: auto;
}
.container #validation-form-area form:invalid button {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
  pointer-events: none;
  cursor: none;
}
.container #scale-area {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.container #scale-area .image-container {
  position: relative;
}
.container #scale-area .image-container .zoom-point {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #1db61d;
  border: 1px solid black;
  background-clip: content-box;
  background-size: 1440px 1080px;
}
.container #scale-area h1 {
  text-align: center;
}
.container #hamburger-menu-area {
  position: relative;
  margin-top: 30px;
  background: darkblue;
  width: 100%;
  height: 70px;
}
.container #hamburger-menu-area #hamburger-menu {
  position: relative;
  top: calc(50% - 40px);
}
.container #hamburger-menu-area #hamburger-menu #hamburger-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: none;
  color: white;
  top: 8px;
}
.container #hamburger-menu-area #hamburger-menu ul {
  display: flex;
  list-style: none;
}
.container #hamburger-menu-area #hamburger-menu ul li {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  background: lightgreen;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
.container #hamburger-menu-area #hamburger-menu ul li a {
  position: relative;
  top: calc(50% - 0.5em);
  text-decoration: none;
  color: white;
}
.container #hamburger-menu-area #hamburger-menu ul li:hover {
  background: darkgreen;
}
.container #hamburger-menu-area #hamburger-menu ul li.active {
  background: darkgreen;
}
.container #hamburger-menu-area #hamburger-menu ul li.hasChildren:after {
  position: relative;
  content: "+";
  color: red;
  font-weight: bold;
  font-size: 24px;
  top: calc(50% - 0.5em);
}
.container #hamburger-menu-area #hamburger-menu ul li.hasChildren ul {
  display: none;
  list-style: none;
  position: relative;
  left: -40px;
  top: 20px;
}
.container #hamburger-menu-area #hamburger-menu ul li.hasChildren:hover ul {
  display: block;
}
.container #hamburger-menu-area #hamburger-menu ul li.hasChildren:hover:after, .container #hamburger-menu-area #hamburger-menu ul li.subitem-with-children:hover:after {
  display: none;
}
.container #hamburger-menu-area #hamburger-menu ul li.subitem-with-children ul {
  display: none !important;
}
.container #hamburger-menu-area #hamburger-menu ul li.subitem-with-children:hover ul {
  display: block !important;
  position: relative;
  left: 109px;
  top: -27px;
}
.container #hamburger-menu-area #hamburger-menu ul li.subitem-with-children:after {
  position: relative;
  content: ">";
  color: red;
  font-weight: bold;
  font-size: 24px;
  top: calc(50% - 0.5em);
}
.container #hamburger-menu-area #hamburger-menu[rel=collapsed] #hamburger-icon {
  display: block;
}
.container #hamburger-menu-area #hamburger-menu[rel=collapsed] ul {
  display: none;
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] {
  height: fit-content;
  background: darkblue;
  display: flex;
  flex-direction: column;
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] #hamburger-icon {
  display: block;
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] ul {
  position: relative;
  left: 60px;
  display: flex;
  flex-direction: column;
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] ul li {
  position: relative;
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] ul li.hasChildren ul {
  display: none;
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] ul li.hasChildren:hover ul {
  display: none;
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] ul li.hasChildren:after {
  content: "";
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] ul li.subitem-with-children:hover ul {
  display: none !important;
}
.container #hamburger-menu-area #hamburger-menu[rel=expanded] ul li.subitem-with-children:after {
  content: "";
}
.container #ranger-area {
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.container #ranger-area #ranger {
  display: flex;
}
.container #ranger-area #ranger #left-value, .container #ranger-area #ranger #right-value {
  font-size: 24px;
  margin: 0.5em 10px;
}
.container #ranger-area #ranger #scroll-field {
  position: relative;
  width: 320px;
  height: 40px;
  background: linear-gradient(to right, green 0px, brown 0px);
  border-radius: 60px 60px 60px 60px/80% 80%;
}
.container #ranger-area #ranger #scroll-field #start-border-mark, .container #ranger-area #ranger #scroll-field #end-border-mark {
  display: block;
  position: absolute;
  top: -90%;
  left: 4%;
  z-index: -1;
}
.container #ranger-area #ranger #scroll-field #start-border-mark .mark, .container #ranger-area #ranger #scroll-field #end-border-mark .mark {
  width: 5px;
  height: 25px;
  background: saddlebrown;
}
.container #ranger-area #ranger #scroll-field #end-border-mark {
  left: 96%;
}
.container #ranger-area #ranger #scroll-field #first-bar, .container #ranger-area #ranger #scroll-field #second-bar {
  cursor: pointer;
  background: red;
  position: absolute;
  left: -5px;
  top: -5px;
  width: 10px;
  height: 50px;
  border-radius: 30px;
}
.container #ranger-area #ranger #scroll-field #second-bar {
  left: 315px;
}

/*# sourceMappingURL=style.css.map */
